<?php
return [
    // db connection parameters
    'dsn' => 'mysql:dbname=pinba;host=localhost;unix_socket=/var/lib/mysql/mysql.sock;port=3306',
    'db_user' => 'pinba',
    'db_pass' => 'password',

    // black list of server_names from pinba. these server_names will not be monitored by zabbix triggers (Template Pinba)
    'black_list_for_zabbix' => [
        "unknown",
        "localhost"
    ],
];
