<?php
return [
    // db connection parameters
    'dsn' => 'mysql:dbname=pinba;host=localhost;unix_socket=/var/lib/mysql/mysql.sock;port=3306',
    'db_user' => 'pinba',
    'db_pass' => 'password',

    // list of monitoring hosts
    'server_names' => [
        //"www.example.com",
    ],
];
